In [2]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Loading-csv-file.ipynb',
 'README.md',
 'supermarkets-commas.txt',
 'supermarkets-commas.xlsx',
 'supermarkets-semicolons.txt',
 'supermarkets.csv',
 'Untitled.ipynb']

In [3]:
import pandas

In [4]:
df1 = pandas.read_csv("supermarkets.csv")
df1

  ID\tADDRESS\tCITY\tNAME
0     1\t3266\tSt\tAngela
1      2\t735\tSt\tBready
2       3\t332\tSt\tRocko