In [1]:
import pandas

In [5]:
df1 = pandas.read_csv("supermarkets.csv")
df1

  ID\tADDRESS\tCITY\tNAME
0     1\t3266\tSt\tAngela
1      2\t735\tSt\tBready
2       3\t332\tSt\tRocko

In [8]:
df2 = pandas.read_csv("supermarkets-commas.txt")
df2

     ID ADDRESS            CITY STATE          NAME
1  3266      St   San Francisco   USA   Angela Shop
2   735      St   San Francisco   USA   Bready Shop
3   332      St   San Francisco   USA    Rocko Shop

In [10]:
df3 = pandas.read_csv("supermarkets-semicolons.txt",sep=";")
df3

                                ID ADDRESS,CITY,STATE,NAME
1 3266    St   San Francisco   USA             Angela Shop
2 735      St  San Francisco   USA             Bready Shop
3 332      St  San Francisco   USA              Rocko Shop