In [2]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Loading-csv-file.ipynb',
 'Loading-json-file.ipynb',
 'README.md',
 'supermarkets-commas.txt',
 'supermarkets-commas.xlsx',
 'supermarkets-semicolons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [3]:
import pandas

In [7]:
df1 = pandas.read_excel("supermarkets-commas.xlsx",sheet_name=0)
df1

   ID  ADDRESS CITY    NAME
0   1     3266   St  Angela
1   2      735   St  Bready
2   3      332   St   Rocko