In [2]:
import os 
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Loading-csv-file.ipynb',
 'Loading-excel-file.ipynb',
 'Loading-json-file.ipynb',
 'Loading-txt-files.ipynb',
 'No-header-data.txt',
 'README.md',
 'Set-header-row.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-commas.xlsx',
 'supermarkets-semicolons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [3]:
import pandas

In [5]:
df1 = pandas.read_csv("No-header-data.txt", header = None)
df1

   0     1       2               3     4             5
0  1  3266      St   San Francisco   USA   Angela Shop
1  2   735      St   San Francisco   USA   Bready Shop
2  3   332      St   San Francisco   USA    Rocko Shop

In [6]:
df1.columns = ["SNO.", "ID", "CITY", "STATE", "COUNTRY", "SHOP_NAME"]
df1

   SNO.    ID    CITY           STATE COUNTRY     SHOP_NAME
0     1  3266      St   San Francisco     USA   Angela Shop
1     2   735      St   San Francisco     USA   Bready Shop
2     3   332      St   San Francisco     USA    Rocko Shop