In [1]:
import pandas

In [4]:
df1 = pandas.read_csv("No-header-data.txt")
df1

   1   3266      St   San Francisco   USA   Angela Shop
0  2    735      St   San Francisco   USA   Bready Shop
1  3    332      St   San Francisco   USA    Rocko Shop

In [5]:
df2 = pandas.read_csv("No-header-data.txt", header = None)
df2

   0     1       2               3     4             5
0  1  3266      St   San Francisco   USA   Angela Shop
1  2   735      St   San Francisco   USA   Bready Shop
2  3   332      St   San Francisco   USA    Rocko Shop